@{
    ForumInit init = (ForumInit)ViewData["init"];
    string Title = "FreneticForum";
    if (init != null)
    {
        Title = init.Database.GetSetting("title", Title);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | @Title</title>
    <link rel="stylesheet" href="/css/ForumBasic.min.css?vary=1" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="left_header">
                <a href="/">@Title
                <br><img src="/images/core/forum_logo.png" /></a>
            </div>
            <div class="right_header">
                @if (init == null)
                {
                    <span>Account manager will be here!</span>
                }
                else if (init.User == null)
                {
                    <span><b>Notice:</b>
                    <br>You are browsing as a guest!
                    <br>You may <a href="/Account/Register">register</a>
                    <br>or <a href="/Account/Login">login</a>.</span>
                }
                else
                {
                    HtmlString link = new HtmlString("<a href=\"/Account?user=" + init.User.UserName + "&uid=" + init.User.UserID + "\">"
                        + init.User.UserName + "</a>");
                    <span>Logged in as: @link
                    <br><form id="logout" method="POST"><input type="hidden" name="mode" value="LOGOUT_NOW" /><input type="submit" value="Logout" /></form></span>
                }
            </div>
        </div>
        <div class="content">
            <div class="section">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        @{
            string utcnow = ForumUtilities.DateNow();
            long views = init == null ? 0 : init.Database.GetViewCounter("global");
            /* TODO: http(s) differences */
            string mainurl = init == null ? "http://example.com" : "http://" + init.Database.GetSetting("main_url", "<Unknown>");
            string adaptedurl = mainurl + (init == null ? "/" : init.Request.Path.ToString());
        }
        Page Retrieved: <code>@utcnow</code>
        <br>Site views: <code>@views</code>
        <br>Standard URL to this page: <a href="@adaptedurl">@adaptedurl</a>
    </div>
</body>
</html>
