<!DOCTYPE html>
<html>
<head>
@{
    ForumInit init = (ForumInit)ViewData["init"];
    string Title = "FreneticForum";
    if (init != null)
    {
        Title = init.Database.GetSetting("title", Title);
    }
}
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | @Title</title>
    <link rel="stylesheet" href="/css/ForumBasic.min.css?vary=1" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="left_header">
                <a href="/">@Title
                <br><img src="/images/core/forum_logo.png" /></a>
            </div>
            <div class="right_header">
                @if (init == null)
                {
                    <span>Account manager will be here!</span>
                }
                else if (init.User == null)
                {
                    <span><b>Notice:</b>
                    <br>You are browsing as a guest!
                    <br>You may <a href="/Account/Register">register</a>
                    <br>or <a href="/Account/Login">login</a>.</span>
                }
                else
                {
                    <span>(Account Info Here)</span>
                }
            </div>
        </div>
        <div class="content">
            <div class="section">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        @{
            string utcnow = ForumUtilities.DateNow();
            long views = init == null ? 0 : init.Database.getViewCounter("global");
        }
        Page Retrieved: <code>@utcnow</code>!
        <br>Site views: <code>@views</code>!
    </div>
</body>
</html>
