@{
    ViewData["Title"] = "Install Page";
}

The below is the full configuration for installation of the FreneticForum.
<br>@ForumUtilities.BULLET If you are not intentionally at this page, please contact the server administrator!
<br>@ForumUtilities.BULLET This is a dangerous page, be sure you know what you're inputting!
<br>@ForumUtilities.BULLET Input stupid values at your own risk! Our systems can only protect against so much...

@ForumUtilities.SECTION_SEPARATOR

@{
    string info = "";
    if ((bool)ViewData["is_post"])
    {
        string admin_pw = (string)ViewData["tf_form_admin_pw"];
        string title = (string)ViewData["tf_form_title"];
        string dburl = (string)ViewData["tf_form_dburl"];
        string dbname = (string)ViewData["tf_form_dbname"];
        string mainurl = (string)ViewData["tf_form_mainurl"];
        if (admin_pw != null && title != null && dburl != null && dbname != null && mainurl != null)
        {
            if (!ForumUtilities.IsSafePassword(admin_pw))
            {
                info = "<b>ERROR</b>: Failed, unsafe password!";
            }
            else if (!mainurl.Contains("."))
            {
                info = "<b>ERROR</b>: Failed, invalid URL specification!";
            }
            else
            {
                try
                {
                    ForumInit.SaveTestConfig();
                    ForumDatabase db = new ForumDatabase(dburl, dbname);
                    db.InstallAll(admin_pw, title, mainurl);
                    ForumInit.SaveNewConfig(dburl, dbname);
                    ((HttpResponse)ViewData["response"]).Redirect("/");
                }
                catch (Exception ex)
                {
                    info = "<b>ERROR</b>: Internal exception while installing: " + ex.ToString().Replace("&", "&amp;").Replace("<", "&lt;").Replace(">", "&gt;");
                }
            }
        }
        else
        {
            info = "<b>ERROR</b>: Failed, null inputs!";
        }
    }
}

<br>@Html.Raw(info)

<form id="Submitto" method="POST">
    <br><span class="emphasis">Forum Name</span>
    <br>The name of the forum for all display purposes.
    <br>@ForumUtilities.CHECKMARK Can be changed later.
    <br><input type="text" name="forum_name" value="My FreneticForum" class="wide_input_box" />
    <br><span class="emphasis">Forum Database URL</span>
    <br>The URL of the MongoDB database for log-in purposes!
    <br>In the format: <code>mongodb://USERNAME:PASSWORD@IP:PORT/DBNAME</code>
    <br>EG, one might use <code>mongodb://freneticforum:TopSecret@localhost:27017/freneticforum</code>
    <br>@ForumUtilities.BIG_X Can NOT be changed later.
    <br><input type="text" name="forum_dburl" value="" class="wide_input_box" />
    <br><span class="emphasis">Forum Database Name</span>
    <br>The name of the database within MongoDB to use.
    <br>Generally matches the <code>DBNAME</code> above.
    <br>@ForumUtilities.BIG_X Can NOT be changed later.
    <br><input type="text" name="forum_dbname" value="freneticforum" class="wide_input_box" />
    <br><span class="emphasis">Forum Main URL</span>
    <br>The URL to this forum. In the format <code>example.com</code>. Do not include <code>http://</code> or similar.
    <br>@ForumUtilities.CHECKMARK Can be changed later.
    <br><input type="text" name="forum_mainurl" value="" class="wide_input_box" />
    <br><span class="emphasis">Admin password</span>
    <br>The password for the root 'admin' login.
    <br>Can be changed later.
    <br>After you finish installation, use account 'admin' with this password to log in and start configuring the forum!
    <br>Please choose a SECURE password. That is, at LEAST 10 characters in length and generally complex.
    <br>However, do not include spaces or quote symbols! All other symbols are fine, though use non-ASCII at your own risk.
    <br>@ForumUtilities.CHECKMARK Can be changed later.
    <br><input type="password" name="admin_password" value="" class="wide_input_box" />
    <br><input type="submit" value="Install FreneticForum!"/>
</form>
